.contato {
    background-color: var(--azul-oscuro);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 600;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--cor-botao);
    border-radius: 24px;
    width: 90%;
    background-color: transparent;
    color: var(--cor-botao);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-botao);
    background: url(../img/fi-sr-envelope.svg) no-repeat;
    padding-left: 3em;
}